---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'
import Paginator from '../components/Paginator.astro'


export async function getStaticPaths({ paginate }) {  
  let allPosts = await Astro.glob<MarkdownFrontmatter>('./chattanooga/events/**/*.md');

  let allPostsIncludingMultipleDates = [];

  allPosts.forEach((p) => {
    let baseData = Object.assign({}, p.frontmatter, {url: p.url});  // Create a copy of the base data

    if (baseData.eventDates) {
      baseData.eventDates.forEach((date, i) => {
        const again = Object.assign({}, baseData, {pubDate: date, title: `${baseData.title} - ${baseData.eventLabel} ${i + 1}`, url: `${baseData.url}/${date}`}); 

        allPostsIncludingMultipleDates.push(again);
      })
    } else {
      allPostsIncludingMultipleDates.push(baseData); // Push base data if no eventDates
    }
  });

  const today = new Date();
  today.setDate(today.getDate() - 1);  // Move back by one day
  today.setHours(0,0,0,0);

  allPostsIncludingMultipleDates = allPostsIncludingMultipleDates.filter(post => new Date(post.pubDate) >= today);
  allPostsIncludingMultipleDates = allPostsIncludingMultipleDates.sort((a, b) => {
      const dateA = new Date(a.pubDate);
      const dateB = new Date(b.pubDate);

      return dateA - dateB;
  });

  console.log(allPostsIncludingMultipleDates)

  return paginate(allPostsIncludingMultipleDates, {
    pageSize: 24
  })
}

const { page } = Astro.props;
let pageTitle = 'thingshappening';
const pageDescription = 'The simplest way to find out about things happening in greater Chattanooga';
let seoTitle = 'thingshappening.com';
let seoDescription = '';

---

<html lang="en">

<head>
  <!-- hello is it me youre looking for -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2976969447542443"
  crossorigin="anonymous"></script>
  <meta name="google-adsense-account" content="ca-pub-2976969447542443">
  <BaseHead title={seoTitle} description={seoDescription} />
</head>
<script>
  (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
  .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
  n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
  (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
  ml('account', '930023');
</script>
<style>
  .ml-form-embedContent {
    display: flex !important;
    align-items: center !important;;
    justify-content: center !important;;
  }
</style>
<!-- End MailerLite Universal -->

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  
  <main class="py-12 lg:py-20">
    <div class="ml-embedded" data-form="ZoK6PR"></div>
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={pageTitle} description={pageDescription} />

      <div class="ml-embedded" data-form="ZoK6PR"></div>

      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {page.data.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>
  <Paginator page={page} />
  <Footer />
</body>

<style>
  #mlb2-14458342.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent, #mlb2-14458342.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
    display: flex !important;
    align-items: center !important;;
    justify-content: center !important;;
  }
  .ml-form-embedContent {
    display: flex !important;
    align-items: center !important;;
    justify-content: center !important;;
  }
</style>
</html>