---
// import EmailSignup from './Subscribe/EmailSignup.astro'

export interface Props {
  address: string;
  title: string;
  pubDate: string;
  time: string;
  venue: string;
  venueDetails: string;
  hero?: string;
  youtube?: string;
}

const { address, eventLink, entranceCost, title, time, pubDate, ticketsLink, venue, venueDetails, hero, youtube } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header style="margin: 0 !important" class="mx-auto max-w-3xl text-center content">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2976969447542443"
     crossorigin="anonymous"></script>
     <meta name="google-adsense-account" content="ca-pub-2976969447542443">
     <h1>{title}</h1>  
  </header>

  <div>
    {pubDate ? <div><b>When:</b> {pubDate}</div> : ""}
    {time ? <div><b>Time:</b> {time}</div> : ""}
    {venue ? <div><b>Venue:</b> {venue}</div> : ""}
    {venueDetails ? <div><b>Venue Details:</b> {venueDetails}</div> : ""}
    {address ? <div><b>Address:</b> {address}</div> : ""}
    {entranceCost ? <div><b>Entrance Fee:</b> {entranceCost}</div> : ""}
    {() => { 
      if(ticketsLink && ticketsLink.includes("http")) {
        return <a target="_blank" href={ticketsLink}>Tickets Link</a>
      } else if (ticketsLink) {
        console.log("hello")
       return <div><b>Tickets Link:</b> {ticketsLink}</div>
      } else {
        ""
      }
    }}
    {eventLink ? <a target="_blank" href={eventLink}>Event Website</a> : ""}
  </div>

  <!-- Image -->
  {hero && <img class="rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src={hero} alt={title} />}

  <!-- YouTube Video -->
  {youtube && <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
    <iframe width="700" height="500" class="embed-responsive-item"
      src={`https://www.youtube.com/embed/${youtube}`} frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </div>}

  <!-- Content -->
  <section style="margin: 0 !important" class="max-w-3xl mx-auto py-6 lg:py-12 content">
    <slot />
  </section>

  <div>
    <!-- sidebar vertical -->
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2976969447542443"
    crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="position: absolute; right: 50px; top: 200px; width: 300px; height: 1000px;"
        data-ad-client="ca-pub-2976969447542443"
        data-ad-slot="1095168865"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</article>
<style>
  pre {
    padding: 8px 16px;
    overflow: auto;
    border-radius: 4px;
    background: #343434;
  }
  code {
    padding: 4px;
    border-radius: 4px;
    background: #343434;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    font-size: 14px;
  }
  pre > code {
    padding: 0;
    line-height: 1.5;
    word-break: normal;
    white-space: pre;
    word-spacing: normal;
    tab-size: 4;
  }
</style>
