---
// import EmailSignup from './Subscribe/EmailSignup.astro'
import dayjs from 'dayjs'

export interface Props {
  address: string;
  title: string;
  pubDate: string;
  time: string;
  venue: string;
  venueDetails: string;
  hero?: string;
  youtube?: string;
}

const { address, author, eventDatesDetails, eventLink, entranceCost, lastUpdated, title, time, pubDate, tags, ticketsLink, venue, venueDetails, hero, youtube } = Astro.props;
const date = new Date(pubDate);
let eventDateDetails;
if (eventDatesDetails) {
  eventDateDetails = eventDatesDetails.find((dateObj => dateObj.date == pubDate));
}

const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
const dayOfWeek = daysOfWeek[date.getDay()];
const subTitle = eventDateDetails && eventDateDetails.eventTitle ? eventDateDetails.eventTitle : dayjs(pubDate).format('MM-DD-YYYY');
---

<article class="max-w-5xl mx-auto px-3 text-xl tracking-wide">
  <header style="margin: 0 !important" class="mx-auto max-w-4xl text-center content">
     <h1>{title} {pubDate && (
      `: ${subTitle}`
    )}</h1>  
  </header>

  <div>
    {pubDate ? <div><b>When:</b> {pubDate} {`(${dayOfWeek})`}</div> : ""}
    {time ? <div><b>Time:</b> {time}</div> : ""}
    {venue ? <div><b>Venue:</b> {venue}</div> : ""}
    {venueDetails ? <div><b>Venue Details:</b> {venueDetails}</div> : ""}
    {address ? <div><b>Address:</b> {address}</div> : ""}
    {entranceCost ? <div><b>Entrance Fee:</b> {entranceCost}</div> : ""}
    <div class="mt-2">
      {eventLink ? <a target="_blank" class="mr-3 mt-5 underline-pink" href={eventLink}>Event Website</a> : ""}
      {() => { 
        if(ticketsLink && ticketsLink.includes("http")) {
          return <a target="_blank" class="mr-1 mt-5 underline-pink" href={ticketsLink}>Tickets Link</a>
        } else if (ticketsLink) {
         return <div><b>Tickets Link:</b> {ticketsLink}</div>
        } else {
          ""
        }
      }}
    </div>
    <div class="mt-2">
      {tags && tags.length > 0 && (
        <ul>
          {tags.map(tag => (
            <a class="mr-3" href={`/tag/${tag}`}><span style="color: #fd2d78">#</span>{tag}</a>
          ))}
        </ul>
      )}
    </div>
    <div class="mt-2">
      {author && (
        <div><b>Original Author:</b> {author}</div>
      )}
    </div>

    <div class="mt-2">
      {lastUpdated && (
        <div><b>Last Updated:</b> {lastUpdated}</div>
      )}
    </div>
  </div>

  <!-- Image -->
  {hero && <img class="rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src={hero} alt={title} />}

  <!-- YouTube Video -->
  {youtube && <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
    <iframe width="700" height="500" class="embed-responsive-item"
      src={`https://www.youtube.com/embed/${youtube}`} frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </div>}

  <div>
    {eventDateDetails && eventDateDetails.topDetails && (
      <div>
        <h2 class="text-2xl font-semibold	pt-12">{eventDateDetails.topDetails.title}</h2>
        <div style="white-space: pre-wrap;">{eventDateDetails.topDetails.text}</div>
      </div>
    )}
  </div>

  <!-- Content -->
  <section style="margin: 0 !important" class="max-w-4xl mx-auto py-3 lg:py-12 content">
    <slot />
  </section>

  <div>
    {eventDateDetails && eventDateDetails.bottomDetails && (
      <div>
        <h2 class="text-2xl font-semibold	">{eventDateDetails.bottomDetails.title}</h2>
        <div>{eventDateDetails.bottomDetails.text}</div>
      </div>
    )}
  </div>

  <div>
  </div>
</article>
<style>
  pre {
    padding: 8px 16px;
    overflow: auto;
    border-radius: 4px;
    background: #343434;
  }
  code {
    padding: 4px;
    border-radius: 4px;
    background: #343434;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    font-size: 14px;
  }
  pre > code {
    padding: 0;
    line-height: 1.5;
    word-break: normal;
    white-space: pre;
    word-spacing: normal;
    tab-size: 4;
  }
</style>
