---
import BaseHead from '../../../../components/Head/BaseHead.astro';
import Nav from '../../../../components/Nav.astro';
import SubNav from '../../../../components/SubNav.astro';
import HomeHeader from '../../../../components/HomeHeader.astro';
import Card from '../../../../components/Card.astro';
import Footer from '../../../../components/Footer/Footer.astro'
// import { prefetch } from 'astro:prefetch';
// import { object } from 'astro/zod';

interface MarkdownFrontmatter {
  date: number;
}

const title = 'thingshappening';
const description = 'An easier way to find  things to do in greater Chattanooga';
const seoDescription = 'An easier way to find  things happening';

let allPosts = (await Astro.glob<MarkdownFrontmatter>('../*/*/*.mdx')).filter(
  (post) => post.frontmatter.published !== false
);

let allPostsIncludingMultipleDates = [];

allPosts.forEach((p) => {
  let baseData = Object.assign({}, p.frontmatter, {url: p.url});  // Create a copy of the base data

  if (baseData.eventDates) {
    baseData.eventDates.forEach((date, i) => {
      let title = baseData.eventLabel ? `${baseData.title}` : `${baseData.title}`
      const again = Object.assign({}, baseData, {pubDate: date, title: title, url: `${baseData.url}/${date}`}); 

      allPostsIncludingMultipleDates.push(again);
    })
  } else {
    allPostsIncludingMultipleDates.push(baseData); // Push base data if no eventDates
  }
});


// const today = new Date();
// today.setDate(today.getDate() - 1);  // Move back by one day
// today.setHours(0,0,0,0);

var today = new Date();
    // Set the first day of the month
var firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
    // Set the last day of the month
var lastDayOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);

    // Filter dates within the current month
allPostsIncludingMultipleDates = allPostsIncludingMultipleDates.filter(({pubDate}) => {
    pubDate= new Date(pubDate);
    return pubDate >= firstDayOfMonth && pubDate <= lastDayOfMonth && pubDate >= today;
});

allPostsIncludingMultipleDates = allPostsIncludingMultipleDates.sort((a, b) => {
    const dateA = new Date(a.pubDate);
    const dateB = new Date(b.pubDate);

    return dateA - dateB;
});
---

<html lang="en">

<head>
  <script is:inline>(function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '930023')</script>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:pt-20">
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} />

      <div class="ml-embedded" data-form="ZoK6PR"></div>

      <SubNav />

      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {allPostsIncludingMultipleDates.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <Footer />
</body>
</html>