---
import Nav from '../components/Nav.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
let {address, author, eventLink, eventDatesDetails, entranceCost, lastUpdated, ticketsLink, tags, title, time, description, pubDate, venue, venueDetails, hero, youtube} = content;

title = title ? title : "";
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Nav />
    <main class="py-12 lg:pt-20">
      <BlogPost tags={tags} author={author} lastUpdated={lastUpdated} eventDatesDetails={eventDatesDetails} address={address} eventLink={eventLink} entranceCost={entranceCost} ticketsLink={ticketsLink} title={title} venue={venue} venueDetails={venueDetails} time={time} hero={hero} pubDate={pubDate} youtube={youtube} >
        <slot />
      </BlogPost>
    </main>
  </body>
</html>

